.faq {
  width: 60%;
}

.faq .item .question {
  color: #fefefe;
  font-size: 20px;
  background: #898989;
  margin: 10px;
  padding: 5px;
  text-align: center;
 }

.faq .item .question:hover {
  cursor:pointer;
}

.faq .item .answer {
  background:#fefefe;
  margin: 10px;
  padding: 5px;
  text-align: justify;
  display: none;
}
